.course-popup{
  display: flex;
  flex-direction: column;
  max-width: 500px;

  &__form{
    display: flex;
    flex-direction: column;
  }

  &__form-row{
    display: flex;
  }

  &__input{
    width:500px;
  }
}