*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed';
  text-decoration: none;
  list-style: none;
}

.content-wrapper{
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  display:flex;
}